In [108]:
import pandas as pd

### District Summary
# load in csv's - change these names eventually?
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# now use pandas to read csv's and create dataframe by telling pandas to read the csv using the variable representing the path
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# now merge into one dataframe
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 

# count the number of schools
school_count = len(complete_data_df["school_name"].unique())

# count the number of students
student_count = len(complete_data_df["student_name"].unique())

# calculate the total budget
total_budget = complete_data_df["budget"].sum()

# calculate the average math score
average_math_score = complete_data_df["math_score"].mean()

# calculate the average reading score
average_reading_score = complete_data_df["reading_score"].mean()

passing_math_df = complete_data_df.loc[complete_data_df["math_score"] > 69]
passing_math_percent = ((len(passing_math_df))/student_count)*100

passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] > 69]
passing_reading_percent = ((len(passing_reading_df))/student_count)*100

# # create summary dataframe using dictionary
district_summary_df = pd.DataFrame({"Total Schools ": [school_count],
                                    "Total Students ": [student_count],
                                    "Total Budget ": [total_budget], # this looks wrong
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "% Passing Math": [passing_math_percent],
                                    "% Passing Reading": [passing_reading_percent],
                                    # "% Overall Passing": []
                                   })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,32715,82932329558,78.985371,81.87784,89.775332,102.735748

In [124]:
### School Summary
school_summary_df = complete_data_df.groupby("school_name").count()



school_summary_df

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800