In [272]:
import pandas as pd

### District Summary
# load in csv's - change these names eventually?
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# now use pandas to read csv's and create dataframe by telling pandas to read the csv using the variable representing the path
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# now merge into one dataframe
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 

# count the number of schools
school_count = len(complete_data_df["school_name"].unique())
# school_count = len(set(complete_data_df["school_name"]))

# count the number of students
student_count = len(complete_data_df["Student ID"].unique())

# calculate the total budget
total_budget = school_data["budget"].sum()

# calculate the average math score
average_math_score = complete_data_df["math_score"].mean()

# calculate the average reading score
average_reading_score = complete_data_df["reading_score"].mean()

passing_math_df = complete_data_df.loc[complete_data_df["math_score"] >= 70]
passing_math_percent = ((len(passing_math_df))/student_count)*100

passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] >= 70]
passing_reading_percent = ((len(passing_reading_df))/student_count)*100

# passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]/student_count*100
passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]['Student ID'].count()/student_count*100

# # create summary dataframe using dictionary
district_summary_df = pd.DataFrame({"Total Schools ": [school_count],
                                    "Total Students ": f"{student_count:,}",
                                    "Total Budget ": f"${total_budget: ,.2f}",
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "% Passing Math": [passing_math_percent],
                                    "% Passing Reading": [passing_reading_percent],
                                    "% Overall Passing": [passing_both_df]
                                   })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$ 24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [244]:
### School Summary
# setting the index to school_name and grouping by school_name
school_name = complete_data_df.set_index("school_name").groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']

In [254]:
student_count_ss = school_name['Student ID'].count()
school_budget_ss = school_data.set_index('school_name')['budget']
student_budget_ss = (school_data.set_index('school_name')['budget']
                     /school_data.set_index('school_name')['size'])
average_math_ss = school_name['math_score'].mean()
average_reading_ss = school_name['reading_score'].mean()
passing_math_ss = passing_math_df.groupby('school_name')['Student ID'].count()/student_count_ss*100
passing_reading_ss = passing_reading_df.groupby('school_name')['Student ID'].count()/student_count_ss*100
# passing_overall_ss = passing_both_df.groupby('school_name')['Student ID'].count()/student_count_ss*100


# eventually will create a new df called school_summary_df
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": student_count_ss,
                                  "Total School Budget": school_budget_ss,
                                  "Per Student Budget": student_budget_ss,
                                  "Average Math Score": average_math_ss,
                                  "Average Reading Score": average_reading_ss,
                                  "% Passing Math": passing_math_ss,
                                  "% Passing Reading": passing_reading_ss,
                                  # "$ Passing Overall": passing_overall_ss
                                 })
                                   
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111