In [362]:
import pandas as pd

### District Summary
# load in csv's
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# now use pandas to read csv's and create dataframe by telling pandas to read the csv using the variable representing the path
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# now merge into one dataframe
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 

# count the number of schools
school_count = len(complete_data_df["school_name"].unique())
# school_count = len(set(complete_data_df["school_name"]))

# count the number of students
student_count = len(complete_data_df["Student ID"].unique())

# calculate the total budget
total_budget = school_data["budget"].sum()

# calculate the average math score
average_math_score = complete_data_df["math_score"].mean()

# calculate the average reading score
average_reading_score = complete_data_df["reading_score"].mean()

passing_math_df = complete_data_df.loc[complete_data_df["math_score"] >= 70]
passing_math_percent = ((len(passing_math_df))/student_count)*100

passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] >= 70]
passing_reading_percent = ((len(passing_reading_df))/student_count)*100

# passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]/student_count*100
passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]['Student ID'].count()/student_count*100

# # create summary dataframe using dictionary
district_summary_df = pd.DataFrame({"Total Schools ": [school_count],
                                    "Total Students ": f"{student_count:,}",
                                    "Total Budget ": f"${total_budget: ,.2f}",
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "% Passing Math": [passing_math_percent],
                                    "% Passing Reading": [passing_reading_percent],
                                    "% Passing Overall": [passing_both_df]
                                   })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$ 24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [327]:
### School Summary
# setting the index to school_name and grouping by school_name
school_name = complete_data_df.set_index("school_name").groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']

In [328]:
student_count_ss = school_name['Student ID'].count()
school_budget_ss = school_data.set_index('school_name')['budget']
student_budget_ss = (school_data.set_index('school_name')['budget']
                     /school_data.set_index('school_name')['size'])
average_math_ss = school_name['math_score'].mean()
average_reading_ss = school_name['reading_score'].mean()
passing_math_ss = passing_math_df.groupby('school_name')['Student ID'].count()/student_count_ss*100
passing_reading_ss = passing_reading_df.groupby('school_name')['Student ID'].count()/student_count_ss*100
passing_overall_ss = complete_data_df[(complete_data_df['reading_score'] >= 70) & (complete_data_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_count_ss*100


# eventually will create a new df called school_summary_df
school_summary_df = pd.DataFrame({"School Type": school_type,
                                  "Total Students": student_count_ss,
                                  "Total School Budget": school_budget_ss,
                                  "Per Student Budget": student_budget_ss,
                                  "Average Math Score": average_math_ss,
                                  "Average Reading Score": average_reading_ss,
                                  "% Passing Math": passing_math_ss,
                                  "% Passing Reading": passing_reading_ss,
                                  "% Passing Overall": passing_overall_ss
                                 })
                                   
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [329]:
### Top Performing Schools (By % Overall Passing)
top_performing = school_summary_df.sort_values("% Passing Overall", ascending = False)
top_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [330]:
### Bottom Performing Schools

bottom_performing = school_summary_df.sort_values("% Passing Overall", ascending = True)
bottom_performing.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [331]:
### Math Scores by Grade
ninth_math_avg = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math_avg = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math_avg = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math_avg = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# create dataframe to house the above data

math_scores_df = pd.DataFrame({
    "9th": ninth_math_avg,
    "10th": tenth_math_avg,
    "11th": eleventh_math_avg,
    "12th": twelfth_math_avg
})

math_scores_df.index.name = "Scbool Name"
math_scores_df

                             9th       10th       11th       12th
Scbool Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [332]:
### Reading Scores by Grade
ninth_reading_avg = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading_avg = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading_avg = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading_avg = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# create dataframe to house the above data

reading_scores_df = pd.DataFrame({
    "9th": ninth_reading_avg,
    "10th": tenth_reading_avg,
    "11th": eleventh_reading_avg,
    "12th": twelfth_reading_avg
})

reading_scores_df.index.name = "School Name"
reading_scores_df

                             9th       10th       11th       12th
Scbool Name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [375]:
### Scores by School Spending
bins = [0,584,629,644,680]
group_name = ["<585", "$585-630", "$630-645", "$645-680"]

complete_data_df['Spending Ranges (Per Student)'] = pd.cut(complete_data_df['budget']/complete_data_df['size'], bins, labels = group_name)

spending_grouped = complete_data_df.groupby('Spending Ranges (Per Student)')

math_avg = spending_grouped['math_score'].mean()
reading_avg = spending_grouped['reading_score'].mean()

passing_math_spending = complete_data_df[complete_data_df['math_score'] >= 70].groupby('Spending Ranges (Per Student)')['size'].count()/spending_grouped['size'].count()*100
passing_reading_spending = complete_data_df[complete_data_df['reading_score'] >= 70].groupby('Spending Ranges (Per Student)')['size'].count()/spending_grouped['size'].count()*100
passing_overall_spending = complete_data_df[(complete_data_df['reading_score'] >= 70) & (complete_data_df['math_score'] >= 70)].groupby('Spending Ranges (Per Student)')['size'].count()/spending_grouped['size'].count()*100
    


#build df
scores_school_spending = pd.DataFrame({
    "Average Math Score": math_avg,
    "Average Reading Score": reading_avg,
    "% Passing Math": passing_math_spending,
    "% Passing Reading": passing_reading_spending,
    "% Passing Overall": passing_overall_spending
})
scores_school_spending.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
Spending Ranges (Per Student),,,,,
<585,83.363065,83.964039,93.702889,96.686558,90.640704
$585-630,79.982873,82.312643,79.109851,88.513145,70.939239
$630-645,77.821056,81.301007,70.623565,82.600247,58.841194
$645-680,77.049297,81.005604,66.230813,81.109397,53.528791

In [373]:
### Scores by School Size
bins = [0,1000,1999,5000]
group_name = ["Small (<1000)", "Median (1000-2000)", "Large (2000-5000)"]
complete_data_df['School Size'] = pd.cut(complete_data_df['size'], bins, labels = group_name)

size_grouped = complete_data_df.groupby('School Size')

math_avg_size = size_grouped['math_score'].mean()
reading_avg_size = size_grouped['reading_score'].mean()

passing_math_size = complete_data_df[complete_data_df['math_score'] >= 70].groupby('School Size')['size'].count()/size_grouped['size'].count()*100
passing_reading_size = complete_data_df[complete_data_df['reading_score'] >= 70].groupby('School Size')['size'].count()/size_grouped['size'].count()*100
passing_overall_size = complete_data_df[(complete_data_df['reading_score'] >= 70) & (complete_data_df['math_score'] >= 70)].groupby('School Size')['size'].count()/size_grouped['size'].count()*100
    


#build df
scores_school_size = pd.DataFrame({
    "Average Math Score": math_avg_size,
    "Average Reading Score": reading_avg_size,
    "% Passing Math": passing_math_size,
    "% Passing Reading": passing_reading_size,
    "% Passing Overall": passing_overall_size
})

scores_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Size,,,,,
Small (<1000),83.828654,83.974082,93.952484,96.040317,90.136789
Median (1000-2000),83.372682,83.867989,93.616522,96.773058,90.624267
Large (2000-5000),77.477597,81.198674,68.652380,82.125158,56.574046

In [374]:
### Scores by School Type
school_type = complete_data_df.groupby("type")

type_math_avg = school_type['math_score'].mean()
type_reading_avg = school_type['reading_score'].mean()

passing_math_spending_type = complete_data_df[complete_data_df['math_score'] >= 70].groupby('type')['Student ID'].count()/school_type['size'].count()*100
passing_reading_spending_type = complete_data_df[complete_data_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/school_type['size'].count()*100
passing_overall_spending_type = complete_data_df[(complete_data_df['reading_score'] >= 70) & (complete_data_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/school_type['Student ID'].count()*100
    


# #build df
scores_school_type = pd.DataFrame({
    "Average Math Score": type_math_avg,
    "Average Reading Score": type_reading_avg,
    "% Passing Math": passing_math_spending_type,
    "% Passing Reading": passing_reading_spending_type,
    "% Passing Overall": passing_overall_spending_type
})

scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878

In [ ]:
### Conclusions
# 1) Average performance in Math and Reading, as well as the percentage of students passing Math, Reading, and Overall, is much higher at Charter schools than it is at District Schools
# 2) Performance at Small and Medium schools are very close, but on average the performance at Small/Medium schools is higher than the average performance at Large schools.