In [203]:
import pandas as pd

### District Summary
# load in csv's - change these names eventually?
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# now use pandas to read csv's and create dataframe by telling pandas to read the csv using the variable representing the path
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# now merge into one dataframe
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 

# count the number of schools
# school_count = len(complete_data_df["school_name"].unique())
school_count = len(set(complete_data_df["school_name"]))

# count the number of students
student_count = len(set(complete_data_df["Student ID"]))

# calculate the total budget
total_budget = school_data["budget"].sum()

# calculate the average math score
average_math_score = complete_data_df["math_score"].mean()

# calculate the average reading score
average_reading_score = complete_data_df["reading_score"].mean()

passing_math_df = complete_data_df.loc[complete_data_df["math_score"] >= 70]
passing_math_percent = ((len(passing_math_df))/student_count)*100

passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] >= 70]
passing_reading_percent = ((len(passing_reading_df))/student_count)*100

# passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]/student_count*100
passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]['Student ID'].count()/student_count*100

# # create summary dataframe using dictionary
district_summary_df = pd.DataFrame({"Total Schools ": [school_count],
                                    "Total Students ": f"{student_count:,}",
                                    "Total Budget ": f"${total_budget: ,.2f}",
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "% Passing Math": [passing_math_percent],
                                    "% Passing Reading": [passing_reading_percent],
                                    "% Overall Passing": [passing_both_df]
                                   })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$ 24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [229]:
### School Summary
# setting the index to school_name and grouping by school_name
school_name = complete_data_df.set_index("school_name").groupby(['school_name'])
school_type = school_data.set_index('school_name')['type']
school_name.head(2)

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Figueroa High School,2917,Amy Jacobs,F,10th,85,87,1,District,2949,1884411
Figueroa High School,2918,Nathan Campbell,M,12th,97,84,1,District,2949,1884411
Shelton High School,5866,Jamie Montgomery,F,12th,70,91,2,Charter,1761,1056600
Shelton High School,5867,Shannon Phillips,F,10th,84,71,2,Charter,1761,1056600
Hernandez High School,7627,Russell Davis,M,10th,70,88,3,District,4635,3022020
Hernandez High School,7628,Timothy Walker,M,12th,97,93,3,District,4635,3022020
Griffin High School,12262,Heather Wright,F,11th,79,68,4,Charter,1468,917500
Griffin High School,12263,Elizabeth Goodwin,F,10th,91,81,4,Charter,1468,917500
Wilson High School,13730,Kelli Anderson,F,10th,84,71,5,Charter,2283,1319574
Wilson High School,13731,Russell Ramirez,M,10th,72,87,5,Charter,2283,1319574
Cabrera High School,16013,Olivia Short,F,11th,94,94,6,Charter,1858,1081356
Cabrera High School,16014,Kerry Jones,F,9th,98,97,6,Charter,1858,1081356
Bailey High School,17871,Blake Martin,M,9th,75,59,7,District,4976,3124928
Bailey High School,17872,Kathryn Kane,F,12th,84,58,7,District,4976,3124928
Holden High School,22847,Daniel Rodriguez,M,11th,86,92,8,Charter,427,248087
Holden High School,22848,Bryan Perkins,M,9th,91,81,8,Charter,427,248087
Pena High School,23274,Alec Davis,M,9th,91,75,9,Charter,962,585858
Pena High School,23275,Michael Meyer,M,10th,94,76,9,Charter,962,585858
Wright High School,24236,Aaron Johnson,M,10th,89,72,10,Charter,1800,1049400
Wright High School,24237,Kimberly Hamilton,F,10th,84,93,10,Charter,1800,1049400
Rodriguez High School,26036,Sherry Jenkins,F,11th,74,81,11,District,3999,2547363
Rodriguez High School,26037,Kimberly Calderon,F,10th,80,86,11,District,3999,2547363
Johnson High School,30035,Lisa Casey,F,12th,87,87,12,District,4761,3094650
Johnson High School,30036,Jessica Lopez,F,9th,98,62,12,District,4761,3094650
Ford High School,34796,Michael Mercado,M,9th,66,94,13,District,2739,1763916
Ford High School,34797,Stephen Wolf,M,11th,68,63,13,District,2739,1763916
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130

In [232]:
student_count_ss = school_name['Student ID'].count()
school_budget_ss = school_data.set_index('school_name')['budget']
student_budget_ss = (school_data.set_index('school_name')['budget']
                     /school_data.set_index('school_name')['size'])
average_math_ss = school_name['math_score'].mean()
average_reading_ss = school_name['reading_score'].mean()
passing_math_ss = passing_math_df.groupby('school_name')['Student ID'].count()/student_count_ss*100
passing_reading_ss = complete_data_df[complete_data_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count_ss*100

print(passing_math_ss)

# passing_reading_ss = 
# passing_overall_ss = 


# eventually will create a new df called school_summary_df
# school_summary_df = pd.DataFrame({"School Type": f"{school_type}",
#                                     "Total Students ": f"{student_count_ss}",
#                                     "Total Budget ": f"{school_budget_ss}",
#                                     "Average Math Score": [average_math_ss],
#                                     "Average Reading Score": [average_reading_ss],
                                    # "% Passing Math": [passing_math_ss],
                                    # "% Passing Reading": [passing_reading_ss],
                                    # "% Overall Passing": [passing_overall_ss]
                                # })
# school_summary_df

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64