In [154]:
import pandas as pd

### District Summary
# load in csv's - change these names eventually?
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# now use pandas to read csv's and create dataframe by telling pandas to read the csv using the variable representing the path
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# now merge into one dataframe
complete_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 

# count the number of schools
school_count = len(complete_data_df["school_name"].unique())

# count the number of students
student_count = complete_data_df["Student ID"].count()

# calculate the total budget
total_budget = school_data["budget"].sum()

# calculate the average math score
average_math_score = complete_data_df["math_score"].mean()

# calculate the average reading score
average_reading_score = complete_data_df["reading_score"].mean()

passing_math_df = complete_data_df.loc[complete_data_df["math_score"] >= 70]
passing_math_percent = ((len(passing_math_df))/student_count)*100

passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] >= 70]
passing_reading_percent = ((len(passing_reading_df))/student_count)*100

# passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]/student_count*100
passing_both_df = complete_data_df[(complete_data_df['math_score'] >= 70) & (complete_data_df['reading_score'] >= 70)]['Student ID'].count()/student_count*100

# # create summary dataframe using dictionary
district_summary_df = pd.DataFrame({"Total Schools ": [school_count],
                                    "Total Students ": f"{student_count:,}",
                                    "Total Budget ": f"${total_budget: ,.2f}",
                                    "Average Math Score": [average_math_score],
                                    "Average Reading Score": [average_reading_score],
                                    "% Passing Math": [passing_math_percent],
                                    "% Passing Reading": [passing_reading_percent],
                                    "% Overall Passing": [passing_both_df]
                                   })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$ 24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [147]:
# ### School Summary
# school_summary_df = complete_data_df.groupby("school_name")
# school_summary_df.head()